In [12]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests

# For Pattern
import re

# Datetime
from datetime import datetime

# Yahoo Finance
import yfinance as yf

In [13]:
# For Data
import sys
sys.path.insert(0,"D:\dosyalar\Github\Finance_Project")
import DataSets

In [14]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")

Pandas Version: 2.2.0
 ----
Numpy Version: 1.26.3
 ----

## Datasets

**Datasets came from my main python file**

In [15]:
TSLA_Data= yf.download("TSLA") # Tesla Company
TSLA_Data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2024-03-04,198.729996,199.750000,186.720001,188.139999,188.139999,134334900
2024-03-05,183.050003,184.589996,177.570007,180.740005,180.740005,119660800
2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900
2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000
2024-03-08,181.500000,182.729996,174.699997,175.339996,175.339996,85315300

In [16]:
AAPL = yf.download("AAPL") # Apple Inc.
AAPL

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099192,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094017,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087117,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089273,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091861,73449600
...,...,...,...,...,...,...
2024-03-04,176.149994,176.899994,173.789993,175.100006,175.100006,81510100
2024-03-05,170.759995,172.039993,169.619995,170.119995,170.119995,95132400
2024-03-06,171.059998,171.240005,168.679993,169.119995,169.119995,68587700
2024-03-07,169.149994,170.729996,168.490005,169.000000,169.000000,71765100
2024-03-08,169.000000,173.699997,168.940002,170.729996,170.729996,76114600

In [17]:
SPY = yf.download("SPY") # S&P 500 Index
SPY

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,24.840673,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.017349,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.070354,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.335369,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.441381,531500
...,...,...,...,...,...,...
2024-03-04,512.030029,514.200012,512.000000,512.299988,512.299988,49799300
2024-03-05,510.239990,510.700012,504.910004,507.179993,507.179993,72855600
2024-03-06,510.549988,512.070007,508.420013,509.750000,509.750000,68382400
2024-03-07,513.140015,515.890015,509.809998,514.809998,514.809998,58652100
2024-03-08,515.460022,518.219971,511.130005,511.720001,511.720001,86425500

## Formulas

In [18]:
SP500_data = SPY
Apple_data = AAPL
Tesla_data = TSLA_Data

SP500_2022 = SP500_data[(SP500_data.index >= "2021-12-31") & (SP500_data.index <= "2022-12-31")]
SP500_2022 = SP500_2022["Close"]

AAPL_2022 = Apple_data[(Apple_data.index >= "2021-12-31") & (Apple_data.index <= "2022-12-31")]
AAPL_2022 = AAPL_2022["Close"]

Tesla_2022 = Tesla_data[(Tesla_data.index >= "2021-12-31") & (Tesla_data.index <= "2022-12-31")]
Tesla_2022 = Tesla_2022["Close"]

# Calculate the daily returns for the stock and the market index
AAPL_returns  = AAPL_2022.pct_change()              # the return on an individual stock
Tesla_returns = Tesla_2022.pct_change()
SP500_returns = SP500_2022.pct_change()             # the return on an overall market

# Calculate the covariance between the stock returns and the market index returns
covariance   = AAPL_returns.cov(SP500_returns)
covariance_2 = Tesla_returns.cov(SP500_returns)

# Calculate the variance of the market index returns
variance   = SP500_returns.var()

# Calculate the beta coefficient
beta   = covariance / variance
beta_2 = covariance_2 / variance

print(f'Beta coefficient for Apple Inc.: {beta:.2f}')
print()
print(f'Beta coefficient for Tesla Company: {beta_2:.2f}')

Beta coefficient for Apple Inc.: 1.30

Beta coefficient for Tesla Company: 1.74

In [19]:
date_df = pd.DataFrame(pd.date_range(start='2017-12-31', end='2022-12-31', freq= "Y"))
date_list = date_df[0].dt.strftime("%Y-%m-%d")
date_list = date_list.to_list()

New_SP500 = {}
New_APPL  = {}
New_TSLA  = {}
New_APPL_returns = {}
New_TSLA_returns = {}
New_SP500_returns = {}
cov = {}
cov_2 = {}
var = {}
var = {}
Apple_Beta = []
Tesla_Beta = []
Beta = []
for i in np.arange(0,len(date_list)):
    z = i + 1
    
    if z < 6:
        x_SP    = SP500_data[(SP500_data.index >= f"{date_list[i]}") & (SP500_data.index <= f"{date_list[z]}")]
        y_AAPL  = Apple_data[(Apple_data.index >= f"{date_list[i]}") & (Apple_data.index <= f"{date_list[z]}")]
        k_TSLA  = Tesla_data[(Tesla_data.index >= f"{date_list[i]}") & (Tesla_data.index <= f"{date_list[z]}")]
        New_SP500[i] = pd.DataFrame(x_SP)
        New_APPL[i]  = pd.DataFrame(y_AAPL)
        New_TSLA[i]  = pd.DataFrame(k_TSLA)
    else:
        pass

for n in np.arange(0, 5):

    New_APPL[n]  = pd.DataFrame(New_APPL[n]["Close"])
    New_APPL_returns[n]  = pd.DataFrame(New_APPL[n]["Close"]).pct_change()

    New_TSLA[n]  = pd.DataFrame(New_TSLA[n]["Close"])
    New_TSLA_returns[n]  = pd.DataFrame(New_TSLA[n]["Close"]).pct_change()
    
    New_SP500[n] = pd.DataFrame(New_SP500[n]["Close"])
    New_SP500_returns[n] = pd.DataFrame(New_SP500[n]["Close"]).pct_change()


    New_APPL_returns[n][np.isnan(New_APPL_returns[n]) | np.isinf(New_APPL_returns[n])] = 0
    New_TSLA_returns[n][np.isnan(New_TSLA_returns[n]) | np.isinf(New_TSLA_returns[n])] = 0
    New_SP500_returns[n][np.isnan(New_SP500_returns[n]) | np.isinf(New_SP500_returns[n])] = 0
    
    cov[n] = np.cov(New_APPL_returns[n]["Close"].values, New_SP500_returns[n]["Close"].values)[0][1]
    cov_2[n] = np.cov(New_TSLA_returns[n]["Close"].values,New_SP500_returns[n]["Close"].values)[0][1]
    var[n] = np.var(New_SP500_returns[n]["Close"].values)

    x = cov[n] / var[n]
    y = cov_2[n] / var[n]

    Apple_Beta.append(x)
    Tesla_Beta.append(y)

Beta = pd.DataFrame(index = date_list[1:])
Beta["APPL Beta Coff."] = Apple_Beta
Beta["TSLA Beta Coff."] = Tesla_Beta
Beta

            APPL Beta Coff.  TSLA Beta Coff.
2018-12-31         1.258444         1.354869
2019-12-31         1.551936         1.329462
2020-12-31         1.159793         1.273195
2021-12-31         1.314310         1.872431
2022-12-31         1.304357         1.742990

## Financial Statements

In [35]:
#for Api Key --- AlphaVantage Api Key  (https://www.alphavantage.co/)
from dotenv import load_dotenv
import os

def configure():
    load_dotenv()


FS = ["INCOME_STATEMENT","BALANCE_SHEET","CASH_FLOW"]   # Financial Statements

data = []
IS = {}                                                 # Income Statements
BS = {}                                                 # Balance Sheet
CF = {}                                                 # Cash Flow

for i in FS:
    url = f'https://www.alphavantage.co/query?function={i}&symbol=TSLA&apikey={os.getenv("Alphavantage_key")}'
    r = requests.get(url)
    data.append(r.json())

    data_df = pd.DataFrame(data)
    
    df = {}
    for i in np.arange(0, len(data_df)):
        df[i] = data_df.iloc[i].get("annualReports")

In [36]:
IS = pd.DataFrame(df[0]).T.reset_index()
BS = pd.DataFrame(df[1]).T.reset_index()
CF = pd.DataFrame(df[2]).T.reset_index()

In [37]:
IS

Empty DataFrame
Columns: [index]
Index: []

In [29]:
FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

IndexError: single positional indexer is out-of-bounds

In [24]:

FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

IS_index = IS.iloc[1].to_list()
BS_index = BS.iloc[1].to_list()
CF_index = CF.iloc[1].to_list()

FS[0].loc[1] = IS_index
FS[1].loc[1] = BS_index
FS[2].loc[1] = CF_index 

FS_pattern = []

for i in np.arange(0, len(FS)):             # Removing unusefull words
    FS[i].replace("None",0,inplace = True)
    FS[i].fillna(0)

    FS[i].copy
    FS[i].loc[2:,[0,1,2,3,4]] = FS[i].loc[2:,[0,1,2,3,4]].astype("float64")
    
    FS_pattern.append(FS[i]["index"])

FS_pattern[0][1] = "reportedCurrency"

pattern_list = pd.DataFrame()

one = FS_pattern[0]
two = FS_pattern[1]
three = FS_pattern[2]

# Making Capitilazation and seperation of sentences
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'


FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join


index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]  # Combine all clean statements to one frame

FS[0].columns = IS_fiscal_Date
FS[1].columns = BS_fiscal_Date
FS[2].columns = CF_fiscal_Date

FS[0] = FS[0].drop(0)
FS[1] = FS[1].drop(0)
FS[2] = FS[2].drop(0)

FS[0].index.name = index_names[0]
FS[1].index.name = index_names[1]
FS[2].index.name = index_names[2]

IndexError: single positional indexer is out-of-bounds

1. AAPL_FS[0] = Income Statement

2. AAPL_FS[1] = Balance Sheet

3. AAPL_FS[2] = Cashflow

In [9]:
AAPL_FS[1]

,fiscalDateEnding,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30
BALANCE SHEET,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD
2,Total Assets,352755000000.0,351002000000.0,323888000000.0,338516000000.0,365725000000.0
3,Total Current Assets,135405000000.0,134836000000.0,143713000000.0,162819000000.0,131339000000.0
4,Cash And Cash Equivalents At Carrying Value,23646000000.0,34940000000.0,38016000000.0,48844000000.0,25913000000.0
5,Cash And Short Term Investments,48304000000.0,62639000000.0,90943000000.0,100557000000.0,25913000000.0
6,Inventory,4946000000.0,6580000000.0,4061000000.0,4106000000.0,3956000000.0
7,Current Net Receivables,60932000000.0,51506000000.0,37445000000.0,45804000000.0,48995000000.0
8,Total Non Current Assets,217350000000.0,216166000000.0,180175000000.0,175697000000.0,234386000000.0
9,Property Plant Equipment,42117000000.0,39440000000.0,36766000000.0,37378000000.0,41304000000.0
10,Accumulated Depreciation Amortization P P E,72340000000.0,70283000000.0,66760000000.0,58579000000.0,49099000000.0
11,Intangible Assets,0.0,0.0,0.0,0.0,0.0
12,Intangible Assets Excluding Goodwill,0.0,0.0,0.0,0.0,0.0
13,Goodwill,0.0,0.0,0.0,0.0,0.0
14,Investments,292870000000.0,318994000000.0,345644000000.0,362952000000.0,448287000000.0
15,Long Term Investments,120805000000.0,127877000000.0,100887000000.0,105341000000.0,170799000000.0
16,Short Term Investments,24658000000.0,27699000000.0,52927000000.0,51713000000.0,40388000000.0
17,Other Current Assets,21223000000.0,14111000000.0,11264000000.0,12352000000.0,12087000000.0
18,Other Non Current Assets,54428000000.0,48849000000.0,42522000000.0,32978000000.0,22283000000.0
19,Total Liabilities,302083000000.0,287912000000.0,258549000000.0,248028000000.0,258578000000.0
20,Total Current Liabilities,153982000000.0,125481000000.0,105392000000.0,105718000000.0,115929000000.0
21,Current Accounts Payable,64115000000.0,54763000000.0,42296000000.0,46236000000.0,55888000000.0
22,Deferred Revenue,20312000000.0,19512000000.0,16843000000.0,13622000000.0,14766000000.0
23,Current Debt,21239000000.0,15692000000.0,13793000000.0,16240000000.0,20748000000.0
24,Short Term Debt,9982000000.0,6000000000.0,4996000000.0,5980000000.0,11964000000.0
25,Total Non Current Liabilities,148101000000.0,162431000000.0,153157000000.0,142310000000.0,142649000000.0
26,Capital Lease Obligations,812000000.0,769000000.0,637000000.0,0.0,0.0
27,Long Term Debt,110100000000.0,118700000000.0,125873000000.0,117760000000.0,111984000000.0
28,Current Long Term Debt,11128000000.0,9613000000.0,8773000000.0,10260000000.0,8784000000.0
29,Long Term Debt Noncurrent,98959000000.0,109106000000.0,98667000000.0,91807000000.0,93735000000.0
30,Short Long Term Debt Total,233256000000.0,241783000000.0,216860000000.0,209135000000.0,220132000000.0
31,Other Current Liabilities,60845000000.0,47493000000.0,42684000000.0,37720000000.0,33327000000.0
32,Other Non Current Liabilities,49142000000.0,53325000000.0,54490000000.0,50503000000.0,48914000000.0
33,Total Shareholder Equity,50672000000.0,63090000000.0,65339000000.0,90488000000.0,107147000000.0
34,Treasury Stock,0.0,0.0,0.0,0.0,0.0
35,Retained Earnings,-3068000000.0,5562000000.0,14966000000.0,45898000000.0,70400000000.0
36,Common Stock,64849000000.0,57365000000.0,50779000000.0,45174000000.0,40201000000.0
37,Common Stock Shares Outstanding,15943425000.0,16426786000.0,16976763000.0,4443236000.0,4754986000.0

** General Financial Formulas**

In [10]:
TotalDebt = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Current Debt"].values[0][1:] + AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Long Term Debt Noncurrent"].values[0][1:]

Current_liabilities   = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1:]
Current_asset         = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1:]
Total_Debt            = TotalDebt
Total_equity          = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Shareholder Equity"].values[0][1:]
Long_term_debt        = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Long Term Debt Noncurrent"].values[0][1:]
Net_income            = AAPL_FS[2][AAPL_FS[2]["fiscalDateEnding"] == "Net Income"].values[0][1:]
Dividends             = AAPL_FS[2][AAPL_FS[2]["fiscalDateEnding"] == "Dividend Payout"].values[0][1:]
Outstanding_share     = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Common Stock Shares Outstanding"].values[0][1:]
Revenue               = AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Total Revenue"].values[0][1:]
Total_asset           = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Assets"].values[0][1:]

NetWorkingCapital = []
CurrentRatio = []
DERatio  = []
FinancialLeverage = []
EPSRatio  = []
ROE = []
ProfitMargin  = []
AssetTurnOverRatio = []

for i in np.arange(0,len(Current_asset)):
    Net_Working_Capital     = Current_asset[i] - Current_liabilities[i]
    Current_Ratio           = float(Current_asset[i]) / float(Current_liabilities[i])
    DE_Ratio                = float(Total_Debt[i])    / float(Total_equity[i])
    Fianancial_Leverage     = float(Total_asset[i])    / float(Total_equity[i])
    EPS_Ratio               = ((Net_income[i] - Dividends[i]) / Outstanding_share[i])
    R_O_E                   = float(Net_income[i]) / float(Total_equity[i])
    Profit_Margin           = float(Net_income[i]) / float(Revenue[i])
    Asset_Turn_over_ratio   = float(Revenue[i]) / (float(Total_asset[i])/2)
    
    NetWorkingCapital.append(Net_Working_Capital)
    CurrentRatio.append(Current_Ratio)
    DERatio.append(DE_Ratio)
    FinancialLeverage.append(Fianancial_Leverage)
    EPSRatio.append(EPS_Ratio)
    ROE.append(R_O_E)
    ProfitMargin.append(Profit_Margin)
    AssetTurnOverRatio.append(Asset_Turn_over_ratio)


AAPL_Ratios = pd.DataFrame(NetWorkingCapital, columns = ["Net Working Capital"])
AAPL_Ratios = pd.DataFrame(AAPL_Ratios["Net Working Capital"])
AAPL_Ratios["Current Ratio"] = CurrentRatio
AAPL_Ratios["Current Ratio"] = AAPL_Ratios["Current Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["D/E Ratio"] = DERatio
AAPL_Ratios["D/E Ratio"] = AAPL_Ratios["D/E Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["EPS Ratio"] = EPSRatio
AAPL_Ratios["EPS Ratio"] = AAPL_Ratios["EPS Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["Profit Margin"] = ProfitMargin
AAPL_Ratios["Profit Margin"] = AAPL_Ratios["Profit Margin"].map("{:,.2f}%".format)
AAPL_Ratios["Asset Turnover Ratio"] = AssetTurnOverRatio
AAPL_Ratios["Asset Turnover Ratio"] = AAPL_Ratios["Asset Turnover Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["Financial Leverage Ratio"] = FinancialLeverage
AAPL_Ratios["Financial Leverage Ratio"] = AAPL_Ratios["Financial Leverage Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["DuPont ROE"] = ROE
AAPL_Ratios["DuPont ROE"] = AAPL_Ratios["DuPont ROE"].map("{:,.2f}%".format)
AAPL_Ratios.index = AAPL_FS[0].columns.values[1:]

AAPL_Ratios.index.name = "Apple Inc."

AppleBeta = Apple_Beta[::-1]
AAPL_Ratios["Beta Coff."] = AppleBeta
AAPL_Ratios

,Net Working Capital,Current Ratio,D/E Ratio,EPS Ratio,Profit Margin,Asset Turnover Ratio,Financial Leverage Ratio,DuPont ROE,Beta Coff.
Apple Inc.,,,,,,,,,
2022-09-30,-1.857700e+10,0.88%,2.37%,5.33%,0.25%,2.22%,6.96%,1.97%,1.003984
2021-09-30,9.355000e+09,1.07%,1.98%,4.88%,0.26%,2.07%,5.56%,1.50%,1.003968
2020-09-30,3.832100e+10,1.36%,1.72%,2.55%,0.21%,1.68%,4.96%,0.88%,1.003953
2019-09-30,5.710100e+10,1.54%,1.19%,9.26%,0.22%,1.52%,3.74%,0.61%,1.003968
2018-09-30,1.541000e+10,1.13%,1.07%,9.64%,0.22%,1.45%,3.41%,0.56%,1.004000

### WACC (Weighted Average Cost of Capital)

[Referance](https://www.youtube.com/watch?v=yIJjUzyNGqg&ab_channel=Dividendology)

In [11]:
AAPL_Last_Stock_Price = DataSets.YahooFinance("AAPL","StockPrices","min")
AAPL_Last_Stock_Price

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-21 00:00:00-04:00,184.899994,185.410004,182.590103,183.294998,20124159,0.0,0.0

In [12]:
Market_value_of_equity = Outstanding_share[0] * AAPL_Last_Stock_Price["Close"].values[0]
print(f"Apple Company Market Capitalazation is {Market_value_of_equity}")

2922350056181.717

#### Cost of Debt

[Referance](https://analystanswers.com/total-debt-definition-formula-step-by-step-examples/)

In [13]:
Cost_of_debt = pd.DataFrame()
Cost_of_debt["Interest_expense"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Interest Expense"].values[0][1]]
Cost_of_debt["Total Debt"] = [TotalDebt[0]]
Cost_of_debt["Cost_debt"] = [(Cost_of_debt.iloc[0]["Interest_expense"] / Cost_of_debt.iloc[0]["Total Debt"])]
Cost_of_debt["Income_tax_expense"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Income Tax Expense"].values[0][1]]
Cost_of_debt["Before_Income_tax"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Income Before Tax"].values[0][1]] 
Cost_of_debt["Effective_tax_rate"]= Cost_of_debt["Income_tax_expense"] / Cost_of_debt["Before_Income_tax"]
Cost_of_debt["Cost_of_debt_after_tax"] = Cost_of_debt["Cost_debt"] * (1 - Cost_of_debt["Effective_tax_rate"])
Cost_of_debt

,Interest_expense,Total Debt,Cost_debt,Income_tax_expense,Before_Income_tax,Effective_tax_rate,Cost_of_debt_after_tax
0,2.931000e+09,1.201980e+11,0.024385,1.930000e+10,1.191030e+11,0.162045,0.020433

#### Cost of Equity

In [14]:
SP_500 = SPY[SPY.index >= "2021-01-01"]
SP_500 = SP_500["Close"]
Apple  = Apple_data[Apple_data.index >= "2021-01-01"]
Apple  = Apple["Close"]

SP_500_r = SP_500.pct_change()
Apple_r  = Apple.pct_change()

cov = Apple_r.cov(SP_500_r) 
var = SP_500_r.var()

bet_a = cov / var
bet_a

Cost_of_Equity = pd.DataFrame()
Cost_of_Equity["Beta"] = [bet_a]
Cost_of_Equity["Market_return"] = [0.09]
Cost_of_Equity["Risk_Free_Rate"] = [(DataSets.YahooFinance("^TNX","StockPrices","10y").iloc[-1]["Close"])/100]
Cost_of_Equity["Cost_of_Equity"] = abs(Cost_of_Equity["Risk_Free_Rate"] + Cost_of_Equity["Beta"]*(Cost_of_Equity["Market_return"] - Cost_of_Equity["Risk_Free_Rate"]))
Cost_of_Equity

[*********************100%***********************]  1 of 1 completed

       Beta  Market_return  Risk_Free_Rate  Cost_of_Equity
0  1.000003           0.09         0.03777            0.09

#### Weight of Debt and Equity

In [15]:
WACC = pd.DataFrame()
WACC["Total"] = [TotalDebt[0] + Market_value_of_equity]
WACC["W_Total Debt"] = Cost_of_debt["Total Debt"] / WACC["Total"]
WACC["W_MarketCap"]  = Market_value_of_equity / WACC["Total"]
WACC

          Total  W_Total Debt  W_MarketCap
0  3.042548e+12      0.039506     0.960494

In [16]:
wacc = Cost_of_debt["Cost_debt"]*WACC["W_Total Debt"]*(1-Cost_of_debt["Effective_tax_rate"]) + Cost_of_Equity["Cost_of_Equity"]*WACC["W_MarketCap"]
wacc = f"Weighted average cost of capital: {wacc}"
print(wacc)

Weighted average cost of capital: 0    0.087252
dtype: float64

### Bankruptcy Models Formulas

### Altman Z-Score

Altman Z-Score = 1.2A + 1.4B + 3.3C + 0.6D + 1.0E

Where:

A = working capital / total assets
B = retained earnings / total assets
C = earnings before interest and tax / total assets
D = market value of equity / total liabilities
E = sales /total assets

An Altman Z-score close to 0 suggests a company might be headed for bankruptcy, while a score closer to 3 suggests a company is in solid financial positioning.

In [17]:
Gs_stok_price = DataSets.YahooFinance("GS","StockPrices","min")
Gs_stok_price

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-21 00:00:00-04:00,328.450012,329.999908,327.269989,328.834991,544707,0.0,0.0

In [20]:
Goldman_Sachs = DataSets.Alphavantage("GS","FinancialStatements")

1. Goldman_Sachs[0] = Income Statement

2. Goldman_Sachs[1] = Balance Sheet

3. Goldman_Sachs[2] = Cashflow

In [21]:
Goldman_Sachs[1]

,fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
BALANCE SHEET,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD
2,Total Assets,1441799000000.0,1463988000000.0,1163028000000.0,992968000000.0,931796000000.0
3,Total Current Assets,256717000000.0,279973000000.0,175623000000.0,172279000000.0,130547000000.0
4,Cash And Cash Equivalents At Carrying Value,241825000000.0,261036000000.0,155842000000.0,133546000000.0,130547000000.0
5,Cash And Short Term Investments,256717000000.0,279973000000.0,175623000000.0,172279000000.0,130547000000.0
6,Inventory,0.0,0.0,0.0,0.0,0.0
7,Current Net Receivables,0.0,0.0,0.0,0.0,0.0
8,Total Non Current Assets,132955000000.0,115085000000.0,100922000000.0,92927000000.0,85222000000.0
9,Property Plant Equipment,-12190000000.0,-10810000000.0,-10120000000.0,-9950000000.0,-9080000000.0
10,Accumulated Depreciation Amortization P P E,12190000000.0,10810000000.0,10120000000.0,9950000000.0,9080000000.0
11,Intangible Assets,8383000000.0,4703000000.0,4962000000.0,4837000000.0,4082000000.0
12,Intangible Assets Excluding Goodwill,2009000000.0,418000000.0,630000000.0,641000000.0,324000000.0
13,Goodwill,6374000000.0,4285000000.0,4332000000.0,4196000000.0,3758000000.0
14,Investments,130629000000.0,88719000000.0,88445000000.0,63937000000.0,47224000000.0
15,Long Term Investments,134590000000.0,118900000000.0,103800000000.0,95680000000.0,90220000000.0
16,Short Term Investments,14892000000.0,18937000000.0,19781000000.0,38733000000.0,33547000000.0
17,Other Current Assets,189041000000.0,606971000000.0,435390000000.0,375918000000.0,355133000000.0
18,Other Non Current Assets,0.0,0.0,0.0,0.0,0.0
19,Total Liabilities,1324610000000.0,1354062000000.0,1067096000000.0,902703000000.0,841611000000.0
20,Total Current Liabilities,183654000000.0,239270000000.0,182239000000.0,165214000000.0,120125000000.0
21,Current Accounts Payable,0.0,0.0,0.0,0.0,0.0
22,Deferred Revenue,113000000.0,0.0,0.0,0.0,0.0
23,Current Debt,152927000000.0,192765000000.0,160618000000.0,150229000000.0,108317000000.0
24,Short Term Debt,114292000000.0,174647000000.0,134704000000.0,119593000000.0,80841000000.0
25,Total Non Current Liabilities,254245000000.0,263466000000.0,245977000000.0,237337000000.0,236027000000.0
26,Capital Lease Obligations,2154000000.0,2288000000.0,2283000000.0,2385000000.0,0.0
27,Long Term Debt,305816000000.0,298476000000.0,271891000000.0,267973000000.0,280631000000.0
28,Current Long Term Debt,38635000000.0,18118000000.0,25914000000.0,30636000000.0,27476000000.0
29,Long Term Debt Noncurrent,73147000000.0,52390000000.0,40911000000.0,43661000000.0,236027000000.0
30,Short Long Term Debt Total,308099000000.0,301047000000.0,266351000000.0,255363000000.0,264651000000.0
31,Other Current Liabilities,6845000000.0,9056000000.0,-244000000000.0,-223000000000.0,-221000000000.0
32,Other Non Current Liabilities,454810000000.0,489270000000.0,392550000000.0,362511000000.0,425964000000.0
33,Total Shareholder Equity,117189000000.0,109926000000.0,95932000000.0,90265000000.0,90185000000.0
34,Treasury Stock,94631000000.0,91136000000.0,85940000000.0,84006000000.0,78670000000.0
35,Retained Earnings,139372000000.0,131811000000.0,112947000000.0,106465000000.0,100100000000.0
36,Common Stock,9000000.0,9000000.0,9000000.0,9000000.0,9000000.0
37,Common Stock Shares Outstanding,334918639.0,333573254.0,344088725.0,347343184.0,367741973.0

In [22]:
Last_Stock_Price = DataSets.YahooFinance("GS","StockPrices")

Last_weekday = []
for i in np.arange(0,5):
    current_date = datetime.now().date()
    one_year_ago = current_date - pd.DateOffset(years=i)
    business_days = pd.bdate_range(end=one_year_ago, periods=7)
    last_friday = [business_days[business_days.weekday == 4].max()]

    Last_weekday.append(last_friday)

Last_weekday = pd.DataFrame(Last_weekday)
Last_weekday[0] = pd.DatetimeIndex(Last_weekday[0].dt.strftime("%Y-%m-%d"))
        
values = []
for i in np.arange(0,len(Last_weekday)):
    Data_prices = Last_Stock_Price["Close"][Last_Stock_Price.index == Last_weekday.iloc[i][0]]
    values.append(Data_prices)
values = pd.DataFrame(values)
        
df_without_nan = values.dropna(axis = 0, how= "all")
LastStockPrice = df_without_nan.values.flatten()
LastStockPrice = pd.DataFrame(LastStockPrice)
LastStockPrice = LastStockPrice.dropna()
LastStockPrice.index = Last_weekday[0]

LastStockPrice

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                     0
0
2023-06-16  338.309998
2022-06-17  279.790009
2021-06-18  348.829987
2020-06-19  201.630005
2019-06-21  195.940002

In [23]:
GS_working_capital = Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1] - Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1]

A = GS_working_capital / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
 
B = Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Retained Earnings"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

C = Goldman_Sachs[0][Goldman_Sachs[0]["fiscalDateEnding"] == "Ebit"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

Market_value_of_equity_GS = Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Common Stock Shares Outstanding"].values[0][1] * LastStockPrice[0].values[0]

D = Market_value_of_equity_GS / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1]

Revenue = Goldman_Sachs[0][Goldman_Sachs[0]["fiscalDateEnding"] == "Net Interest Income"].values[0][1] + Goldman_Sachs[0][Goldman_Sachs[0]["fiscalDateEnding"] == "Non Interest Income"].values[0][1]

E = Revenue / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

AltmanZScore = pd.DataFrame()
AltmanZScore["A"] = [A]
AltmanZScore["B"] = [B]
AltmanZScore["C"] = [C]
AltmanZScore["D"] = [D]
AltmanZScore["E"] = [E]
AltmanZScore["Score"] = [(1.2*A) + (1.4*B) + (3.3*C) + (0.6*D) + (1.0*E)]

AltmanZScore.index.name = "Goldman Sachs"
AltmanZScore

                      A         B         C         D         E    Score
Goldman Sachs
0              0.050675  0.096665  0.024159  0.085539  0.032851  0.36004

#### Springate score

Springate score = 1.03A + 3.07B + .66C + .4D

A = Working capital / Total assets
B = EBIT / Total assets
C = Profit before tax / Current liabilities
D = Revenue / Total assets

In [24]:
X = Goldman_Sachs[0][Goldman_Sachs[0]["fiscalDateEnding"] == "Income Before Tax"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1]
Y = Revenue / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

Springate = pd.DataFrame()
Springate["A"] = [A]
Springate["B"] = [C]
Springate["C"] = [X]
Springate["D"] = [Y]
Springate["Score"] = [(1.03*A) + (3.07*C) + (0.66*X) + (0.4*Y)]

Springate

          A         B         C         D     Score
0  0.050675  0.024159  0.010181  0.032851  0.146222

#### Zmijewski Score

Zmijewski Score = -4.336 - [4.513 * (Net Income / Total Assets)] + [5.679 * (Total Liabilities / Total Assets)] + [0.004 * (Current Assets / Current Liabilities)]

In [25]:
A_1 = Goldman_Sachs[0][Goldman_Sachs[0]["fiscalDateEnding"] == "Net Income"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
B_1 = Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
C_1 = Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1] / Goldman_Sachs[1][Goldman_Sachs[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1]

constant = -4.336
constant_2 = -4.513

ZM_score = pd.DataFrame()
ZM_score["4336"] = [constant]
ZM_score["4513"] = [C]
ZM_score["5679"] = [X]
ZM_score["0004"] = [Y]
ZM_score["Score"] = [(constant) + (constant_2*A_1) + (5.679*B_1) + (0.004 * C_1)]

ZM_score

    4336      4513      5679      0004     Score
0 -4.336  0.024159  0.010181  0.032851  0.851756

## Option Models

### Black-Scholes Model

S : current asset price

K: strike price of the option

r: risk free rate 

T : time until option expiration 

Ïƒ: annualized volatility of the asset's returns

In [26]:
from scipy.stats import norm

def blackScholes(r, S, K, T, sigma, type="c"):
    "Calculate BS price of call/put"
    d1 = (np.log(S/K) + (r + sigma**2/2)*T)/(sigma*np.sqrt(T))
    d2 = d1 - sigma*np.sqrt(T)
    try:
        if type == "c":
            price = S*norm.cdf(d1, 0, 1) - K*np.exp(-r*T)*norm.cdf(d2, 0, 1)
        elif type == "p":
            price = K*np.exp(-r*T)*norm.cdf(-d2, 0, 1) - S*norm.cdf(-d1, 0, 1)
        return price
    except:
        print("Please confirm option type, either 'c' for Call or 'p' for Put!")

In [27]:
blackScholes(0.1,120,100,1,100, type="c")

120.0

In [28]:
class BsOption:
    def __init__(self, S, K, T, r, sigma, q=0):
        self.S = S
        self.K = K
        self.T = T
        self.r = r 
        self.sigma = sigma
        self.q = q
        
    
    @staticmethod
    def N(x):
        return norm.cdf(x)
    
    @property
    def params(self):
        return {'S': self.S, 
                'K': self.K, 
                'T': self.T, 
                'r':self.r,
                'q':self.q,
                'sigma':self.sigma}
    
    def d1(self):
        return (np.log(self.S/self.K) + (self.r -self.q + self.sigma**2/2)*self.T) \
                                / (self.sigma*np.sqrt(self.T))
    
    def d2(self):
        return self.d1() - self.sigma*np.sqrt(self.T)
    
    def _call_value(self):
        return self.S*np.exp(-self.q*self.T)*self.N(self.d1()) - \
                    self.K*np.exp(-self.r*self.T) * self.N(self.d2())
                    
    def _put_value(self):
        return self.K*np.exp(-self.r*self.T) * self.N(-self.d2()) -\
                self.S*np.exp(-self.q*self.T)*self.N(-self.d1())
    
    def price(self, type_ = 'C'):
        if type_ == 'C':
            return self._call_value()
        if type_ == 'P':
            return self._put_value() 
        if type_ == 'B':
            return  {'call': self._call_value(), 'put': self._put_value()}
        else:
            raise ValueError('Unrecognized type')
                       
        
        
if __name__ == '__main__':
    K = 100
    r = 0.1
    T = 1
    sigma = 0.3
    S = 100
    print(BsOption(S, K, T, r, sigma).price('B'))

{'call': 16.73413358238666, 'put': 7.217875385982609}