In [1]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests

# For Pattern
import re

# Datetime
from datetime import datetime

# Yahoo Finance
import yfinance as yf

## Datasets

**Datasets came from my main python file**

In [3]:
TSLA_Data= yf.download("TSLA") # Tesla Company
TSLA_Data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2024-03-04,198.729996,199.750000,186.720001,188.139999,188.139999,134334900
2024-03-05,183.050003,184.589996,177.570007,180.740005,180.740005,119660800
2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900
2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000
2024-03-08,181.500000,182.729996,174.699997,175.339996,175.339996,85315300

In [4]:
AAPL = yf.download("AAPL") # Apple Inc.
AAPL

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099192,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094017,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087117,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089273,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091861,73449600
...,...,...,...,...,...,...
2024-03-04,176.149994,176.899994,173.789993,175.100006,175.100006,81510100
2024-03-05,170.759995,172.039993,169.619995,170.119995,170.119995,95132400
2024-03-06,171.059998,171.240005,168.679993,169.119995,169.119995,68587700
2024-03-07,169.149994,170.729996,168.490005,169.000000,169.000000,71765100
2024-03-08,169.000000,173.699997,168.940002,170.729996,170.729996,76114600

In [5]:
SPY = yf.download("SPY") # S&P 500 Index
SPY

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,24.840681,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.017363,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.070364,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.335369,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.441368,531500
...,...,...,...,...,...,...
2024-03-04,512.030029,514.200012,512.000000,512.299988,512.299988,49799300
2024-03-05,510.239990,510.700012,504.910004,507.179993,507.179993,72855600
2024-03-06,510.549988,512.070007,508.420013,509.750000,509.750000,68382400
2024-03-07,513.140015,515.890015,509.809998,514.809998,514.809998,58652100
2024-03-08,515.460022,518.219971,511.130005,511.720001,511.720001,86425500

## Formulas

For More information [Beta Coefficent](https://www.investopedia.com/terms/b/beta.asp)

In [6]:
SP500_data = SPY
Apple_data = AAPL
Tesla_data = TSLA_Data

SP500_2022 = SP500_data[(SP500_data.index >= "2021-12-31") & (SP500_data.index <= "2022-12-31")]
SP500_2022 = SP500_2022["Close"]

AAPL_2022 = Apple_data[(Apple_data.index >= "2021-12-31") & (Apple_data.index <= "2022-12-31")]
AAPL_2022 = AAPL_2022["Close"]

Tesla_2022 = Tesla_data[(Tesla_data.index >= "2021-12-31") & (Tesla_data.index <= "2022-12-31")]
Tesla_2022 = Tesla_2022["Close"]

# Calculate the daily returns for the stock and the market index
AAPL_returns  = AAPL_2022.pct_change()              # the return on an individual stock
Tesla_returns = Tesla_2022.pct_change()
SP500_returns = SP500_2022.pct_change()             # the return on an overall market

# Calculate the covariance between the stock returns and the market index returns
covariance   = AAPL_returns.cov(SP500_returns)
covariance_2 = Tesla_returns.cov(SP500_returns)

# Calculate the variance of the market index returns
variance   = SP500_returns.var()

# Calculate the beta coefficient
beta   = covariance / variance
beta_2 = covariance_2 / variance

print(f'Beta coefficient for Apple Inc.: {beta:.2f}')
print()
print(f'Beta coefficient for Tesla Company: {beta_2:.2f}')

Beta coefficient for Apple Inc.: 1.30

Beta coefficient for Tesla Company: 1.74

* Creating Historical Beta Coefficient Data Frame

In [7]:
date_df = pd.DataFrame(pd.date_range(start='2017-12-31', end='2022-12-31', freq= "Y"))
date_list = date_df[0].dt.strftime("%Y-%m-%d")
date_list = date_list.to_list()

New_SP500 = {}
New_APPL  = {}
New_TSLA  = {}
New_APPL_returns = {}
New_TSLA_returns = {}
New_SP500_returns = {}
cov = {}
cov_2 = {}
var = {}
var = {}
Apple_Beta = []
Tesla_Beta = []
Beta = []
for i in np.arange(0,len(date_list)):
    z = i + 1
    
    if z < 6:
        x_SP    = SP500_data[(SP500_data.index >= f"{date_list[i]}") & (SP500_data.index <= f"{date_list[z]}")]
        y_AAPL  = Apple_data[(Apple_data.index >= f"{date_list[i]}") & (Apple_data.index <= f"{date_list[z]}")]
        k_TSLA  = Tesla_data[(Tesla_data.index >= f"{date_list[i]}") & (Tesla_data.index <= f"{date_list[z]}")]
        New_SP500[i] = pd.DataFrame(x_SP)
        New_APPL[i]  = pd.DataFrame(y_AAPL)
        New_TSLA[i]  = pd.DataFrame(k_TSLA)
    else:
        pass

for n in np.arange(0, 5):

    New_APPL[n]  = pd.DataFrame(New_APPL[n]["Close"])
    New_APPL_returns[n]  = pd.DataFrame(New_APPL[n]["Close"]).pct_change()

    New_TSLA[n]  = pd.DataFrame(New_TSLA[n]["Close"])
    New_TSLA_returns[n]  = pd.DataFrame(New_TSLA[n]["Close"]).pct_change()
    
    New_SP500[n] = pd.DataFrame(New_SP500[n]["Close"])
    New_SP500_returns[n] = pd.DataFrame(New_SP500[n]["Close"]).pct_change()


    New_APPL_returns[n][np.isnan(New_APPL_returns[n]) | np.isinf(New_APPL_returns[n])] = 0
    New_TSLA_returns[n][np.isnan(New_TSLA_returns[n]) | np.isinf(New_TSLA_returns[n])] = 0
    New_SP500_returns[n][np.isnan(New_SP500_returns[n]) | np.isinf(New_SP500_returns[n])] = 0
    
    cov[n] = np.cov(New_APPL_returns[n]["Close"].values, New_SP500_returns[n]["Close"].values)[0][1]
    cov_2[n] = np.cov(New_TSLA_returns[n]["Close"].values,New_SP500_returns[n]["Close"].values)[0][1]
    var[n] = np.var(New_SP500_returns[n]["Close"].values)

    x = cov[n] / var[n]
    y = cov_2[n] / var[n]

    Apple_Beta.append(x)
    Tesla_Beta.append(y)

Beta = pd.DataFrame(index = date_list[1:])
Beta["APPL Beta Coff."] = Apple_Beta
Beta["TSLA Beta Coff."] = Tesla_Beta
Beta

            APPL Beta Coff.  TSLA Beta Coff.
2018-12-31         1.258444         1.354869
2019-12-31         1.551936         1.329462
2020-12-31         1.159793         1.273195
2021-12-31         1.314310         1.872431
2022-12-31         1.304357         1.742990

## Financial Statements

In [8]:
#for Api Key --- AlphaVantage Api Key  (https://www.alphavantage.co/)
from dotenv import load_dotenv
import os

def configure():
    load_dotenv()


FS = ["INCOME_STATEMENT","BALANCE_SHEET","CASH_FLOW"]   # Financial Statements

data = []
IS = {}                                                 # Income Statements
BS = {}                                                 # Balance Sheet
CF = {}                                                 # Cash Flow

for i in FS:
    url = f'https://www.alphavantage.co/query?function={i}&symbol=TSLA&apikey={os.getenv("Alphavantage_key")}'
    r = requests.get(url)
    data.append(r.json())

    data_df = pd.DataFrame(data)
    
    df = {}
    for i in np.arange(0, len(data_df)):
        df[i] = data_df.iloc[i].get("annualReports")

In [9]:
IS = pd.DataFrame(df[0]).T.reset_index()
BS = pd.DataFrame(df[1]).T.reset_index()
CF = pd.DataFrame(df[2]).T.reset_index()

In [10]:
IS

,index,0,1,2,3,4,5,6,7,8,9,10,11,12
0,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31
1,reportedCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,grossProfit,17660000000,20853000000,13606000000,6630000000,4069000000,4042000000,2223000000,1599257000,923503000,881671000,456262000,30067000,61595000
3,totalRevenue,96773000000,81462000000,53823000000,31536000000,24578000000,21461000000,11759000000,7000132000,4046025000,3198356000,217070000,413256000,204242000
4,costOfRevenue,79113000000,60609000000,40217000000,24906000000,20509000000,17419000000,9536000000,5400875000,3122522000,2316685000,1557234000,383189000,142647000
5,costofGoodsAndServicesSold,463000000,604000000,374000000,289000000,193000000,85272000,7797183000,4559939000,2868242000,2332294000,1565882000,388118000,144475000
6,operatingIncome,8891000000,13656000000,6523000000,1994000000,-69000000,-388000000,-1632000000,-667340000,-716629000,-186689000,-61283000,-394283000,-251488000
7,sellingGeneralAndAdministrative,4800000000,3946000000,4517000000,3145000000,2646000000,2835000000,2477000000,1432189000,922232000,603660000,285569000,150372000,104102000
8,researchAndDevelopment,3969000000,3075000000,2593000000,1491000000,1343000000,1460000000,1378000000,834408000,717900000,464700000,231976000,273978000,208981000
9,operatingExpenses,8769000000,7197000000,7083000000,4636000000,4138000000,4430000000,3855000000,2266597000,1640132000,1068360000,517545000,424350000,313083000
10,investmentIncomeNet,1066000000,297000000,56000000,30000000,44000000,24533000,19686000,8530000,1508000,1126000,189000,288000,255000
11,netInterestIncome,-156000000,-191000000,-371000000,-748000000,-685000000,-663071000,-471259000,-198810000,-118851000,-100886000,-32934000,-254000,-43000
12,interestIncome,1066000000,41000000,56000000,30000000,44000000,-71000,-259000,164180000,None,None,None,None,None
13,interestExpense,156000000,191000000,371000000,748000000,685000000,663000000,471000000,198810000,118851000,100886000,32934000,254000,43000
14,nonInterestIncome,96917000000,-81000000,-55000000,-336000000,-98000000,22184879000,948469000,756309000,-55765000,1891000,-3655000,2096000,2655000
15,otherNonOperatingIncome,172000000,-43000000,135000000,-122000000,45000000,22000000,-125000000,111272000,-41652000,1813000,22602000,-1828000,-2646000
16,depreciation,3330000000,2420000000,1910000000,1570000000,1370000000,1110000000,769000000,477300000,None,63105000,17171000,None,None
17,depreciationAndAmortization,506000000,493000000,466000000,399000000,343000000,66000000,1636003000,947099000,422590000,231931000,106083000,28825000,16919000
18,incomeBeforeTax,9996000000,13688000000,6218000000,1013000000,-752000000,-918000000,-1930000000,-648216000,-875624000,-284636000,-71426000,-396077000,-253922000
19,incomeTaxExpense,-5001000000,1130000000,699000000,292000000,110000000,58000000,32000000,26698000,13039000,9404000,2588000,136000,489000
20,interestAndDebtExpense,156000000,191000000,371000000,853000000,685000000,663071000,471259000,198810000,118851000,100886000,32934000,254000,43000
21,netIncomeFromContinuingOperations,14974000000,12587000000,5644000000,862000000,-775000000,-1062582000,-2240578000,-773046000,-888663000,-294040000,-74014000,-396213000,-254411000
22,comprehensiveIncomeNetOfTax,15215000000,12141000000,5210000000,1120000000,-890000000,-1018000000,-1905000000,-695098000,-892197000,-294062000,-74014000,-396210000,-254414000
23,ebit,10152000000,13879000000,6589000000,1761000000,-67000000,-255000000,-1459000000,-449406000,-756773000,-183750000,-38492000,-395823000,-253879000
24,ebitda,10658000000,14372000000,7055000000,2160000000,276000000,-189000000,177003000,497693000,-334183000,48181000,67591000,-366998000,-236960000
25,netIncome,14997000000,12556000000,5519000000,721000000,-862000000,-976000000,-1962000000,-674914000,-888663000,-294040000,-74014000,-396213000,-254411000

In [11]:
FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

In [12]:

FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

IS_index = IS.iloc[1].to_list()
BS_index = BS.iloc[1].to_list()
CF_index = CF.iloc[1].to_list()

FS[0].loc[1] = IS_index
FS[1].loc[1] = BS_index
FS[2].loc[1] = CF_index 

FS_pattern = []

for i in np.arange(0, len(FS)):             # Removing unusefull words
    FS[i].replace("None",0,inplace = True)
    FS[i].fillna(0)

    FS[i].copy
    FS[i].loc[2:,[0,1,2,3,4]] = FS[i].loc[2:,[0,1,2,3,4]].astype("float64")
    
    FS_pattern.append(FS[i]["index"])

FS_pattern[0][1] = "reportedCurrency"

pattern_list = pd.DataFrame()

one = FS_pattern[0]
two = FS_pattern[1]
three = FS_pattern[2]

# Making Capitilazation and seperation of sentences
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'


FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join


index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]  # Combine all clean statements to one frame

FS[0].columns = IS_fiscal_Date
FS[1].columns = BS_fiscal_Date
FS[2].columns = CF_fiscal_Date

FS[0] = FS[0].drop(0)
FS[1] = FS[1].drop(0)
FS[2] = FS[2].drop(0)

FS[0].index.name = index_names[0]
FS[1].index.name = index_names[1]
FS[2].index.name = index_names[2]

In [13]:
AAPL_FS = FS

1. AAPL_FS[0] = Income Statement

2. AAPL_FS[1] = Balance Sheet

3. AAPL_FS[2] = Cashflow

In [14]:
AAPL_FS[1]

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31
BALANCE SHEET,,,,,,,,,,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Total Assets,106618000000.0,82338000000.0,62131000000.0,52148000000.0,34309000000.0,29740000000,28655372000,22664076000,8067939000,5830667000,2416930000,1114190000,713448000,386082000
3,Total Current Assets,49616000000.0,40917000000.0,27100000000.0,26717000000.0,12103000000.0,8307000000,6570520000,6259796000,2782006000,3180073000,1265939000,524768000,372838000,235886000
4,Cash And Cash Equivalents At Carrying Value,16398000000.0,16253000000.0,17576000000.0,19384000000.0,6268000000.0,3686000000,3368000000,3393000000,1196908000,1905713000,845889000,201890000,255266000,99558000
5,Cash And Short Term Investments,29094000000.0,22185000000.0,17707000000.0,19384000000.0,6268000000.0,3685618000,3367914000,3393216000,1196908000,1905713000,848901000,220984000,280300000,99558000
6,Inventory,13626000000.0,12839000000.0,5757000000.0,4101000000.0,3552000000.0,3113000000,2263537000,2067454000,1277838000,953675000,340355000,268504000,50082000,45182000
7,Current Net Receivables,3508000000.0,2959000000.0,1924000000.0,1895000000.0,1324000000.0,949022000,515381000,499142000,168965000,226604000,49109000,26842000,9539000,0
8,Total Non Current Assets,46472000000.0,32209000000.0,25281000000.0,18134000000.0,15251000000.0,13072152000,11620758000,7350320000,3416156000,1883850000,768566000,585110000,335260000,150196000
9,Property Plant Equipment,29725000000.0,23548000000.0,18884000000.0,12747000000.0,10396000000.0,11330000000,10027522000,5982957000,3403334000,1829267000,738494000,552229000,298414000,114636000
10,Accumulated Depreciation Amortization P P E,12057000000.0,9041000000.0,6731000000.0,5117000000.0,3734000000.0,2699000000,1723794000,997485000,571126000,292590000,140142000,57543000,32222000,21993000
11,Intangible Assets,431000000.0,409000000.0,457000000.0,520000000.0,537000000.0,350000000,421739000,376145000,12816000,0,13930000,14267000,14508000,14508000
12,Intangible Assets Excluding Goodwill,178000000.0,215000000.0,257000000.0,313000000.0,339000000.0,282000000,361502000,376145000,12816000,0,13930000,14267000,14508000,14508000
13,Goodwill,253000000.0,194000000.0,200000000.0,207000000.0,198000000.0,68000000,60237000,0,0,0,0,0,0,0
14,Investments,29094000000.0,22185000000.0,131000000.0,0.0,0.0,0,0,0,7300000,16673000,0,0,25061000,0
15,Long Term Investments,0.0,0.0,0.0,0.0,1000000.0,421548000,456652000,506302000,0,0,0,0,0,0
16,Short Term Investments,12696000000.0,5932000000.0,131000000.0,0.0,0.0,192551000,155323000,216000,16700000,17947000,3012000,19094000,25034000,73597000
17,Other Current Assets,3199000000.0,2941000000.0,1723000000.0,1346000000.0,959000000.0,558222000,423688000,299984000,147857000,112665000,30586000,27532000,32890000,84436000
18,Other Non Current Assets,4531000000.0,3865000000.0,2138000000.0,1536000000.0,1470000000.0,572000000,273123000,216751000,46858000,43209000,23637000,21963000,22371000,22730000
19,Total Liabilities,43009000000.0,36440000000.0,30548000000.0,28418000000.0,26199000000.0,23427000000,23022980000,16750167000,6936950000,4860761000,1749810000,989490000,489403000,179034000
20,Total Current Liabilities,28748000000.0,26709000000.0,19705000000.0,14248000000.0,10667000000.0,9993000000,7674670000,5827005000,2811035000,2107166000,675160000,539108000,191339000,85565000
21,Current Accounts Payable,14431000000.0,15255000000.0,10025000000.0,6051000000.0,3771000000.0,3405000000,2390250000,1860341000,916148000,777946000,303969000,303382000,56141000,28951000
22,Deferred Revenue,9651000000.0,7464000000.0,5881000000.0,4668000000.0,3842000000.0,2504000000,2193052000,1614916000,679132000,381096000,230856000,700000,800000,0
23,Current Debt,1975000000.0,1016000000.0,1088000000.0,1758000000.0,1399000000.0,2222000000,799849000,1114652000,633166000,1212698000,7904000,55206000,8983000,0
24,Short Term Debt,1577000000.0,530000000.0,587000000.0,1384000000.0,785000000.0,2567699000,3300000,130441000,5239000,601599000,7904000,55206000,8983000,279000
25,Total Non Current Liabilities,15250000000.0,10866000000.0,8260000000.0,6962000000.0,6050000000.0,13164200000,13083289000,8640254000,2851456000,2266433000,272303000,471714000,311474000,93469000
26,Capital Lease Obligations,175000000.0,568000000.0,991000000.0,1094000000.0,1232000000.0,1855900000,1801010000,1459684000,0,12267000,0,9965000,2830000,0
27,Long Term Debt,2682000000.0,1029000000.0,4254000000.0,8462000000.0,10402000000.0,8411000000,8828985000,5892016000,441000000,2959795000,586301000,452336000,276251000,72324000
28,Current Long Term Debt,1975000000.0,1016000000.0,1088000000.0,2132000000.0,228000000.0,2567699000,796549000,984211000,627927000,611099000,182000,50841000,7916000,0
29,Long Term Debt Noncurrent,0.0,0.0,0.0,0.0,0.0,0,0,0,1290000000,1220000000,586119000,401495000,268335000,71828000
30,Short Long Term Debt Total,4259000000.0,1559000000.0,4841000000.0,9846000000.0,11187000000.0,8410490000,8832285000,6022457000,446239000,3561394000,586301000,452336000,276251000,72107000
31,Other Current Liabilities,517000000.0,354000000.0,310000000.0,264000000.0,260000000.0,372000000,130565000,84492000,-633166000,-632128000,-7904000,-195928000,123870000,51700000
32,Other Non Current Liabilities,8153000000.0,5330000000.0,3546000000.0,3330000000.0,2691000000.0,2710000000,2442970000,1891449000,364976000,154660000,58197000,25170000,14915000,12274000
33,Total Shareholder Equity,62634000000.0,44704000000.0,30189000000.0,22225000000.0,6618000000.0,4923000000,4237242000,4752911000,1083704000,911710000,667120000,115000,104000,207048000
34,Treasury Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
35,Retained Earnings,27882000000.0,12885000000.0,329000000.0,-5399000000.0,-6083000000.0,-5317832000,-4974299000,-2997237000,-2322323000,-1433682000,-1139620000,-1065606000,-669392000,-414982000
36,Common Stock,3000000.0,3000000.0,3000000.0,1000000.0,1000000.0,0,169000,161000,131000,126000,123000,115000,104000,95000
37,Common Stock Shares Outstanding,3185000000.0,3164000000.0,1033000000.0,960000000.0,181000000.0,172603000,168797000,161561000,131425000,125687607,123090990,114214274,104530305,94908370

** General Financial Formulas**

In [78]:
TotalDebt = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Current Debt"].values[0][1:].astype(float) + AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Long Term Debt"].values[0][1:].astype(float)

Current_liabilities   = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1:].astype(float)
Current_asset         = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1:].astype(float)
Total_Debt            = TotalDebt
Total_equity          = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Shareholder Equity"].values[0][1:].astype(float)
Long_term_debt        = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Long Term Debt Noncurrent"].values[0][1:].astype(float)
Net_income            = AAPL_FS[2][AAPL_FS[2]["fiscalDateEnding"] == "Net Income"].values[0][1:].astype(float)
Dividends             = AAPL_FS[2][AAPL_FS[2]["fiscalDateEnding"] == "Dividend Payout"].values[0][1:].astype(float)
Outstanding_share     = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Common Stock Shares Outstanding"].values[0][1:].astype(float)
Revenue               = AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Total Revenue"].values[0][1:].astype(float)
Total_asset           = AAPL_FS[1][AAPL_FS[1]["fiscalDateEnding"] == "Total Assets"].values[0][1:].astype(float)

NetWorkingCapital = []
CurrentRatio = []
DERatio  = []
FinancialLeverage = []
EPSRatio  = []
ROE = []
ProfitMargin  = []
AssetTurnOverRatio = []

In [79]:
Net_income = np.append(Net_income, np.mean(Net_income))
Net_income

array([ 1.49970000e+10,  1.25560000e+10,  5.51900000e+09,  7.21000000e+08,
       -8.62000000e+08, -9.76000000e+08, -1.96200000e+09, -6.74914000e+08,
       -8.88663000e+08, -2.94040000e+08, -7.40140000e+07, -3.96213000e+08,
       -2.54411000e+08,  2.10851885e+09])

In [80]:
Dividends = np.append(Dividends,0.0)
Dividends

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [83]:
Revenue = np.append(Revenue, np.mean(Revenue))
Revenue

array([9.67730000e+10, 8.14620000e+10, 5.38230000e+10, 3.15360000e+10,
       2.45780000e+10, 2.14610000e+10, 1.17590000e+10, 7.00013200e+09,
       4.04602500e+09, 3.19835600e+09, 2.17070000e+08, 4.13256000e+08,
       2.04242000e+08, 2.58823908e+10])

In [84]:
for i in np.arange(0,len(Current_asset)):
    Net_Working_Capital     = Current_asset[i] - Current_liabilities[i]
    Current_Ratio           = float(Current_asset[i]) / float(Current_liabilities[i])
    DE_Ratio                = float(Total_Debt[i])    / float(Total_equity[i])
    Fianancial_Leverage     = float(Total_asset[i])    / float(Total_equity[i])
    EPS_Ratio               = ((Net_income[i] - Dividends[i]) / Outstanding_share[i])
    R_O_E                   = float(Net_income[i]) / float(Total_equity[i])
    Profit_Margin           = float(Net_income[i]) / float(Revenue[i])
    Asset_Turn_over_ratio   = float(Revenue[i]) / (float(Total_asset[i])/2)
    
    NetWorkingCapital.append(Net_Working_Capital)
    CurrentRatio.append(Current_Ratio)
    DERatio.append(DE_Ratio)
    FinancialLeverage.append(Fianancial_Leverage)
    EPSRatio.append(EPS_Ratio)
    ROE.append(R_O_E)
    ProfitMargin.append(Profit_Margin)
    AssetTurnOverRatio.append(Asset_Turn_over_ratio)

In [87]:
AAPL_Ratios = pd.DataFrame(NetWorkingCapital, columns = ["Net Working Capital"])
AAPL_Ratios = pd.DataFrame(AAPL_Ratios["Net Working Capital"])
AAPL_Ratios["Current Ratio"] = CurrentRatio
AAPL_Ratios["Current Ratio"] = AAPL_Ratios["Current Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["D/E Ratio"] = DERatio
AAPL_Ratios["D/E Ratio"] = AAPL_Ratios["D/E Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["EPS Ratio"] = EPSRatio
AAPL_Ratios["EPS Ratio"] = AAPL_Ratios["EPS Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["Profit Margin"] = ProfitMargin
AAPL_Ratios["Profit Margin"] = AAPL_Ratios["Profit Margin"].map("{:,.2f}%".format)
AAPL_Ratios["Asset Turnover Ratio"] = AssetTurnOverRatio
AAPL_Ratios["Asset Turnover Ratio"] = AAPL_Ratios["Asset Turnover Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["Financial Leverage Ratio"] = FinancialLeverage
AAPL_Ratios["Financial Leverage Ratio"] = AAPL_Ratios["Financial Leverage Ratio"].map("{:,.2f}%".format)
AAPL_Ratios["DuPont ROE"] = ROE
AAPL_Ratios["DuPont ROE"] = AAPL_Ratios["DuPont ROE"].map("{:,.2f}%".format)
#AAPL_Ratios.index = AAPL_FS[0].columns.values[1:]

AAPL_Ratios.index.name = "Apple Inc."

#AppleBeta = Apple_Beta[::-1]
#AAPL_Ratios["Beta Coff."] = AppleBeta
AAPL_Ratios

,Net Working Capital,Current Ratio,D/E Ratio,EPS Ratio,Profit Margin,Asset Turnover Ratio,Financial Leverage Ratio,DuPont ROE
Apple Inc.,,,,,,,,
0,2.086800e+10,1.73%,0.07%,4.71%,0.15%,1.82%,1.70%,0.24%
1,1.420800e+10,1.53%,0.05%,3.97%,0.15%,1.98%,1.84%,0.28%
2,7.395000e+09,1.38%,0.18%,5.34%,0.10%,1.73%,2.06%,0.18%
3,1.246900e+10,1.88%,0.46%,0.75%,0.02%,1.21%,2.35%,0.03%
4,1.436000e+09,1.13%,1.78%,-4.76%,-0.04%,1.43%,5.18%,-0.13%
5,-1.686000e+09,0.83%,2.16%,-5.65%,-0.05%,1.44%,6.04%,-0.20%
6,-1.104150e+09,0.86%,2.27%,-11.62%,-0.17%,0.82%,6.76%,-0.46%
7,4.327910e+08,1.07%,1.47%,-4.18%,-0.10%,0.62%,4.77%,-0.14%
8,-2.902900e+07,0.99%,0.99%,-6.76%,-0.22%,1.00%,7.44%,-0.82%
9,1.072907e+09,1.51%,4.58%,-2.34%,-0.09%,1.10%,6.40%,-0.32%
10,5.907790e+08,1.88%,0.89%,-0.60%,-0.34%,0.18%,3.62%,-0.11%
11,-1.434000e+07,0.97%,"4,413.41%",-3.47%,-0.96%,0.74%,"9,688.61%","-3,445.33%"
12,1.814990e+08,1.95%,"2,742.63%",-2.43%,-1.25%,0.57%,"6,860.08%","-2,446.26%"
13,2.086800e+10,1.73%,0.07%,4.71%,0.15%,1.82%,1.70%,0.24%
14,1.420800e+10,1.53%,0.05%,3.97%,0.15%,1.98%,1.84%,0.28%
15,7.395000e+09,1.38%,0.18%,5.34%,0.10%,1.73%,2.06%,0.18%
16,1.246900e+10,1.88%,0.46%,0.75%,0.02%,1.21%,2.35%,0.03%
17,1.436000e+09,1.13%,1.78%,-4.76%,-0.04%,1.43%,5.18%,-0.13%
18,-1.686000e+09,0.83%,2.16%,-5.65%,-0.05%,1.44%,6.04%,-0.20%
19,-1.104150e+09,0.86%,2.27%,-11.62%,-0.17%,0.82%,6.76%,-0.46%
20,4.327910e+08,1.07%,1.47%,-4.18%,-0.10%,0.62%,4.77%,-0.14%
21,-2.902900e+07,0.99%,0.99%,-6.76%,-0.22%,1.00%,7.44%,-0.82%
22,1.072907e+09,1.51%,4.58%,-2.34%,-0.09%,1.10%,6.40%,-0.32%
23,5.907790e+08,1.88%,0.89%,-0.60%,-0.34%,0.18%,3.62%,-0.11%
24,-1.434000e+07,0.97%,"4,413.41%",-3.47%,-0.96%,0.74%,"9,688.61%","-3,445.33%"
25,1.814990e+08,1.95%,"2,742.63%",-2.43%,-1.25%,0.57%,"6,860.08%","-2,446.26%"
26,1.503210e+08,2.76%,0.35%,22.22%,0.08%,134.08%,1.86%,10.18%

### WACC (Weighted Average Cost of Capital)

[Referance](https://www.youtube.com/watch?v=yIJjUzyNGqg&ab_channel=Dividendology)

In [88]:
AAPL_Last_Stock_Price = yf.download("AAPL",period ="min")
AAPL_Last_Stock_Price

[*********************100%%**********************]  1 of 1 completed

             Open        High         Low       Close   Adj Close    Volume
Date
2024-03-08  169.0  173.699997  168.940002  170.729996  170.729996  76114600

In [89]:
Market_value_of_equity = Outstanding_share[0] * AAPL_Last_Stock_Price["Close"].values[0]
print(f"Apple Company Market Capitalazation is {Market_value_of_equity}")

Apple Company Market Capitalazation is 543775036392.2119

#### Cost of Debt

[Referance](https://analystanswers.com/total-debt-definition-formula-step-by-step-examples/)

In [90]:
Cost_of_debt = pd.DataFrame()
Cost_of_debt["Interest_expense"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Interest Expense"].values[0][1]]
Cost_of_debt["Total Debt"] = [TotalDebt[0]]
Cost_of_debt["Cost_debt"] = [(Cost_of_debt.iloc[0]["Interest_expense"] / Cost_of_debt.iloc[0]["Total Debt"])]
Cost_of_debt["Income_tax_expense"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Income Tax Expense"].values[0][1]]
Cost_of_debt["Before_Income_tax"] = [AAPL_FS[0][AAPL_FS[0]["fiscalDateEnding"] == "Income Before Tax"].values[0][1]] 
Cost_of_debt["Effective_tax_rate"]= Cost_of_debt["Income_tax_expense"] / Cost_of_debt["Before_Income_tax"]
Cost_of_debt["Cost_of_debt_after_tax"] = Cost_of_debt["Cost_debt"] * (1 - Cost_of_debt["Effective_tax_rate"])
Cost_of_debt

,Interest_expense,Total Debt,Cost_debt,Income_tax_expense,Before_Income_tax,Effective_tax_rate,Cost_of_debt_after_tax
0,156000000.0,4.657000e+09,0.033498,-5.001000e+09,9.996000e+09,-0.5003,0.050257

#### Cost of Equity

In [91]:
SP_500 = SPY[SPY.index >= "2021-01-01"]
SP_500 = SP_500["Close"]
Apple  = Apple_data[Apple_data.index >= "2021-01-01"]
Apple  = Apple["Close"]

SP_500_r = SP_500.pct_change()
Apple_r  = Apple.pct_change()

cov = Apple_r.cov(SP_500_r) 
var = SP_500_r.var()

bet_a = cov / var
bet_a

Cost_of_Equity = pd.DataFrame()
Cost_of_Equity["Beta"] = [bet_a]
Cost_of_Equity["Market_return"] = [0.09]
Cost_of_Equity["Risk_Free_Rate"] = [(DataSets.YahooFinance("^TNX","StockPrices","10y").iloc[-1]["Close"])/100]
Cost_of_Equity["Cost_of_Equity"] = abs(Cost_of_Equity["Risk_Free_Rate"] + Cost_of_Equity["Beta"]*(Cost_of_Equity["Market_return"] - Cost_of_Equity["Risk_Free_Rate"]))
Cost_of_Equity

[*********************100%%**********************]  1 of 1 completed

      Beta  Market_return  Risk_Free_Rate  Cost_of_Equity
0  1.25444           0.09         0.04089        0.102496

#### Weight of Debt and Equity

In [92]:
WACC = pd.DataFrame()
WACC["Total"] = [TotalDebt[0] + Market_value_of_equity]
WACC["W_Total Debt"] = Cost_of_debt["Total Debt"] / WACC["Total"]
WACC["W_MarketCap"]  = Market_value_of_equity / WACC["Total"]
WACC

          Total  W_Total Debt  W_MarketCap
0  5.484320e+11      0.008491     0.991509

In [93]:
wacc = Cost_of_debt["Cost_debt"]*WACC["W_Total Debt"]*(1-Cost_of_debt["Effective_tax_rate"]) + Cost_of_Equity["Cost_of_Equity"]*WACC["W_MarketCap"]
wacc = f"Weighted average cost of capital: {wacc}"
print(wacc)

Weighted average cost of capital: 0    0.102052
dtype: float64

### Bankruptcy Models Formulas

### Altman Z-Score

Altman Z-Score = 1.2A + 1.4B + 3.3C + 0.6D + 1.0E

Where:

A = working capital / total assets
B = retained earnings / total assets
C = earnings before interest and tax / total assets
D = market value of equity / total liabilities
E = sales /total assets

An Altman Z-score close to 0 suggests a company might be headed for bankruptcy, while a score closer to 3 suggests a company is in solid financial positioning.

In [94]:
Gs_stok_price = yf.download("GS", period = "min")
Gs_stok_price

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low      Close  Adj Close   Volume
Date
2024-03-08  388.730011  395.619995  386.709991  386.98999  386.98999  1657200

In [95]:
Apple_Inc = FS

1. Apple_Inc[0] = Income Statement

2. Apple_Inc[1] = Balance Sheet

3. Apple_Inc[2] = Cashflow

In [96]:
Apple_Inc[1]

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31
BALANCE SHEET,,,,,,,,,,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Total Assets,106618000000.0,82338000000.0,62131000000.0,52148000000.0,34309000000.0,29740000000,28655372000,22664076000,8067939000,5830667000,2416930000,1114190000,713448000,386082000
3,Total Current Assets,49616000000.0,40917000000.0,27100000000.0,26717000000.0,12103000000.0,8307000000,6570520000,6259796000,2782006000,3180073000,1265939000,524768000,372838000,235886000
4,Cash And Cash Equivalents At Carrying Value,16398000000.0,16253000000.0,17576000000.0,19384000000.0,6268000000.0,3686000000,3368000000,3393000000,1196908000,1905713000,845889000,201890000,255266000,99558000
5,Cash And Short Term Investments,29094000000.0,22185000000.0,17707000000.0,19384000000.0,6268000000.0,3685618000,3367914000,3393216000,1196908000,1905713000,848901000,220984000,280300000,99558000
6,Inventory,13626000000.0,12839000000.0,5757000000.0,4101000000.0,3552000000.0,3113000000,2263537000,2067454000,1277838000,953675000,340355000,268504000,50082000,45182000
7,Current Net Receivables,3508000000.0,2959000000.0,1924000000.0,1895000000.0,1324000000.0,949022000,515381000,499142000,168965000,226604000,49109000,26842000,9539000,0
8,Total Non Current Assets,46472000000.0,32209000000.0,25281000000.0,18134000000.0,15251000000.0,13072152000,11620758000,7350320000,3416156000,1883850000,768566000,585110000,335260000,150196000
9,Property Plant Equipment,29725000000.0,23548000000.0,18884000000.0,12747000000.0,10396000000.0,11330000000,10027522000,5982957000,3403334000,1829267000,738494000,552229000,298414000,114636000
10,Accumulated Depreciation Amortization P P E,12057000000.0,9041000000.0,6731000000.0,5117000000.0,3734000000.0,2699000000,1723794000,997485000,571126000,292590000,140142000,57543000,32222000,21993000
11,Intangible Assets,431000000.0,409000000.0,457000000.0,520000000.0,537000000.0,350000000,421739000,376145000,12816000,0,13930000,14267000,14508000,14508000
12,Intangible Assets Excluding Goodwill,178000000.0,215000000.0,257000000.0,313000000.0,339000000.0,282000000,361502000,376145000,12816000,0,13930000,14267000,14508000,14508000
13,Goodwill,253000000.0,194000000.0,200000000.0,207000000.0,198000000.0,68000000,60237000,0,0,0,0,0,0,0
14,Investments,29094000000.0,22185000000.0,131000000.0,0.0,0.0,0,0,0,7300000,16673000,0,0,25061000,0
15,Long Term Investments,0.0,0.0,0.0,0.0,1000000.0,421548000,456652000,506302000,0,0,0,0,0,0
16,Short Term Investments,12696000000.0,5932000000.0,131000000.0,0.0,0.0,192551000,155323000,216000,16700000,17947000,3012000,19094000,25034000,73597000
17,Other Current Assets,3199000000.0,2941000000.0,1723000000.0,1346000000.0,959000000.0,558222000,423688000,299984000,147857000,112665000,30586000,27532000,32890000,84436000
18,Other Non Current Assets,4531000000.0,3865000000.0,2138000000.0,1536000000.0,1470000000.0,572000000,273123000,216751000,46858000,43209000,23637000,21963000,22371000,22730000
19,Total Liabilities,43009000000.0,36440000000.0,30548000000.0,28418000000.0,26199000000.0,23427000000,23022980000,16750167000,6936950000,4860761000,1749810000,989490000,489403000,179034000
20,Total Current Liabilities,28748000000.0,26709000000.0,19705000000.0,14248000000.0,10667000000.0,9993000000,7674670000,5827005000,2811035000,2107166000,675160000,539108000,191339000,85565000
21,Current Accounts Payable,14431000000.0,15255000000.0,10025000000.0,6051000000.0,3771000000.0,3405000000,2390250000,1860341000,916148000,777946000,303969000,303382000,56141000,28951000
22,Deferred Revenue,9651000000.0,7464000000.0,5881000000.0,4668000000.0,3842000000.0,2504000000,2193052000,1614916000,679132000,381096000,230856000,700000,800000,0
23,Current Debt,1975000000.0,1016000000.0,1088000000.0,1758000000.0,1399000000.0,2222000000,799849000,1114652000,633166000,1212698000,7904000,55206000,8983000,0
24,Short Term Debt,1577000000.0,530000000.0,587000000.0,1384000000.0,785000000.0,2567699000,3300000,130441000,5239000,601599000,7904000,55206000,8983000,279000
25,Total Non Current Liabilities,15250000000.0,10866000000.0,8260000000.0,6962000000.0,6050000000.0,13164200000,13083289000,8640254000,2851456000,2266433000,272303000,471714000,311474000,93469000
26,Capital Lease Obligations,175000000.0,568000000.0,991000000.0,1094000000.0,1232000000.0,1855900000,1801010000,1459684000,0,12267000,0,9965000,2830000,0
27,Long Term Debt,2682000000.0,1029000000.0,4254000000.0,8462000000.0,10402000000.0,8411000000,8828985000,5892016000,441000000,2959795000,586301000,452336000,276251000,72324000
28,Current Long Term Debt,1975000000.0,1016000000.0,1088000000.0,2132000000.0,228000000.0,2567699000,796549000,984211000,627927000,611099000,182000,50841000,7916000,0
29,Long Term Debt Noncurrent,0.0,0.0,0.0,0.0,0.0,0,0,0,1290000000,1220000000,586119000,401495000,268335000,71828000
30,Short Long Term Debt Total,4259000000.0,1559000000.0,4841000000.0,9846000000.0,11187000000.0,8410490000,8832285000,6022457000,446239000,3561394000,586301000,452336000,276251000,72107000
31,Other Current Liabilities,517000000.0,354000000.0,310000000.0,264000000.0,260000000.0,372000000,130565000,84492000,-633166000,-632128000,-7904000,-195928000,123870000,51700000
32,Other Non Current Liabilities,8153000000.0,5330000000.0,3546000000.0,3330000000.0,2691000000.0,2710000000,2442970000,1891449000,364976000,154660000,58197000,25170000,14915000,12274000
33,Total Shareholder Equity,62634000000.0,44704000000.0,30189000000.0,22225000000.0,6618000000.0,4923000000,4237242000,4752911000,1083704000,911710000,667120000,115000,104000,207048000
34,Treasury Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
35,Retained Earnings,27882000000.0,12885000000.0,329000000.0,-5399000000.0,-6083000000.0,-5317832000,-4974299000,-2997237000,-2322323000,-1433682000,-1139620000,-1065606000,-669392000,-414982000
36,Common Stock,3000000.0,3000000.0,3000000.0,1000000.0,1000000.0,0,169000,161000,131000,126000,123000,115000,104000,95000
37,Common Stock Shares Outstanding,3185000000.0,3164000000.0,1033000000.0,960000000.0,181000000.0,172603000,168797000,161561000,131425000,125687607,123090990,114214274,104530305,94908370

In [97]:
Last_Stock_Price = yf.download("AAPL")

Last_weekday = []
for i in np.arange(0,5):
    current_date = datetime.now().date()
    one_year_ago = current_date - pd.DateOffset(years=i)
    business_days = pd.bdate_range(end=one_year_ago, periods=7)
    last_friday = [business_days[business_days.weekday == 4].max()]

    Last_weekday.append(last_friday)

Last_weekday = pd.DataFrame(Last_weekday)
Last_weekday[0] = pd.DatetimeIndex(Last_weekday[0].dt.strftime("%Y-%m-%d"))
        
values = []
for i in np.arange(0,len(Last_weekday)):
    Data_prices = Last_Stock_Price["Close"][Last_Stock_Price.index == Last_weekday.iloc[i][0]]
    values.append(Data_prices)
values = pd.DataFrame(values)
        
df_without_nan = values.dropna(axis = 0, how= "all")
LastStockPrice = df_without_nan.values.flatten()
LastStockPrice = pd.DataFrame(LastStockPrice)
LastStockPrice = LastStockPrice.dropna()
LastStockPrice.index = Last_weekday[0]

LastStockPrice

[*********************100%%**********************]  1 of 1 completed

                     0
0
2024-03-08  170.729996
2023-03-10  148.500000
2022-03-04  163.169998
2021-03-05  121.419998
2020-03-06   72.257500

In [99]:
AAPL_working_capital = Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1] - Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1]

A = AAPL_working_capital / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
 
B = Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Retained Earnings"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

C = Apple_Inc[0][Apple_Inc[0]["fiscalDateEnding"] == "Ebit"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

Market_value_of_equity_Apple = Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Common Stock Shares Outstanding"].values[0][1] * LastStockPrice[0].values[0]

D = Market_value_of_equity_Apple / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1]

Revenue = Apple_Inc[0][Apple_Inc[0]["fiscalDateEnding"] == "Net Interest Income"].values[0][1] + Apple_Inc[0][Apple_Inc[0]["fiscalDateEnding"] == "Non Interest Income"].values[0][1]

E = Revenue / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

AltmanZScore = pd.DataFrame()
AltmanZScore["A"] = [A]
AltmanZScore["B"] = [B]
AltmanZScore["C"] = [C]
AltmanZScore["D"] = [D]
AltmanZScore["E"] = [E]
AltmanZScore["Score"] = [(1.2*A) + (1.4*B) + (3.3*C) + (0.6*D) + (1.0*E)]

AltmanZScore.index.name = "Apple Inc."
AltmanZScore

                   A         B         C          D         E     Score
Apple Inc.
0           0.195727  0.261513  0.095218  12.643285  0.907548  9.408731

#### Springate score

Springate score = 1.03A + 3.07B + .66C + .4D

A = Working capital / Total assets
B = EBIT / Total assets
C = Profit before tax / Current liabilities
D = Revenue / Total assets

In [100]:
X = Apple_Inc[0][Apple_Inc[0]["fiscalDateEnding"] == "Income Before Tax"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1]
Y = Revenue / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]

Springate = pd.DataFrame()
Springate["A"] = [A]
Springate["B"] = [C]
Springate["C"] = [X]
Springate["D"] = [Y]
Springate["Score"] = [(1.03*A) + (3.07*C) + (0.66*X) + (0.4*Y)]

Springate

          A         B         C         D     Score
0  0.195727  0.095218  0.232416  0.907548  1.010333

#### Zmijewski Score

Zmijewski Score = -4.336 - [4.513 * (Net Income / Total Assets)] + [5.679 * (Total Liabilities / Total Assets)] + [0.004 * (Current Assets / Current Liabilities)]

In [101]:
A_1 = Apple_Inc[0][Apple_Inc[0]["fiscalDateEnding"] == "Net Income"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
B_1 = Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Liabilities"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Assets"].values[0][1]
C_1 = Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Current Assets"].values[0][1] / Apple_Inc[1][Apple_Inc[1]["fiscalDateEnding"] == "Total Current Liabilities"].values[0][1]

constant = -4.336
constant_2 = -4.513

ZM_score = pd.DataFrame()
ZM_score["4336"] = [constant]
ZM_score["4513"] = [C]
ZM_score["5679"] = [X]
ZM_score["0004"] = [Y]
ZM_score["Score"] = [(constant) + (constant_2*A_1) + (5.679*B_1) + (0.004 * C_1)]

ZM_score

    4336      4513      5679      0004     Score
0 -4.336  0.095218  0.232416  0.907548 -2.673028